<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Werify - Soluciones SSI</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('components/header', {lng: lng}) %>

        <div class="content">
            <div class="showcase">
                <div class="showcase-text">
                    <h1><%= t('HOME.SHOW-CASE.TITLE') %></h1>
                    <p><%= t('HOME.SHOW-CASE.PARAGRAPH') %></p>
                </div>

                <img src="/assets/img/ssi_credentials.png" alt="SSI Related Image">


            </div>
            <div class="features">
                <section>
                    <h2><%= t('HOME.FEATURES.FEATURE-1.TITLE') %></h2>
                    <p><%= t('HOME.FEATURES.FEATURE-1.PARAGRAPH') %></p>
                </section>
                <section>
                    <h2><%= t('HOME.FEATURES.FEATURE-2.TITLE') %></h2>
                    <p><%= t('HOME.FEATURES.FEATURE-2.PARAGRAPH') %></p>
                </section>
                <section>
                    <h2><%= t('HOME.FEATURES.FEATURE-3.TITLE') %></h2>
                    <p><%= t('HOME.FEATURES.FEATURE-3.PARAGRAPH') %></p>
                </section>
                <section>
                    <h2><%= t('HOME.FEATURES.FEATURE-4.TITLE') %></h2>
                    <p><%= t('HOME.FEATURES.FEATURE-4.PARAGRAPH') %></p>
                </section>
            </div>
        </div>

        <%- include('components/footer') %>

</body>

</html>