<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Werify - Soluciones SSI</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('components/header', {lng: lng}) %>

    <div class="content">
        <div class="showcase">
            <div class="showcase-text">
                <h1><%= t('PRIVATE-AREA.TITLE') %></h1>
                <h3><%= t('PRIVATE-AREA.SUB-TITLE') %></h3>
                <p><%= t('PRIVATE-AREA.PARAGRAPH') %></p>
            </div>

            <img src="/assets/img/segure.png" alt="Segure Image">


        </div>
    </div>
    
    <%- include('components/footer') %>
</body>
</html>