<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Werify - Soluciones SSI</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/successfull_registry.css">
</head>

<body>
    <%- include('components/header') %>

    <div class="content">
        <div class="showcase">
            <div class="showcase-text">
                <h1>Welcome, <%= user.firstName %>
                        <%= user.familyName %>!</h1>
                <p>Congratulations on your successful registration! You are now granted access to the exclusive private
                    area. Simply present your email credential for entry. Rest assured, your access is safeguarded by
                    the cutting-edge Self-Sovereign Identity (SSI) technology, ensuring your privacy and security in
                    this privileged space</p>
                <button id="showQrButton"><i class="fa fa-id-card-o"></i>Get Credential</button>
            </div>

            <img src="/assets/img/registry.png" alt="Segure Registry">


        </div>
    </div>

    <%- include('components/footer') %>

    <!-- The Modal -->
    <div id="qrModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Scan this QR code to get your credential:</p>
            <img id="qrImage" src="" alt="QR Code">
        </div>
    </div>

    <script>
        var userData = {
            firstName: "<%= user.firstName %>",
            familyName: "<%= user.familyName %>",
            email: "<%= user.email %>",
            dateOfBirth: "<%= user.dateOfBirth %>",
            company: "Werify",
            position: "Guest",
        };

        document.getElementById("showQrButton").onclick = function() {
            var modal = document.getElementById("qrModal");
            var span = document.getElementsByClassName("close")[0];
        
            // Close modal when user clicks on <span> (x)
            span.onclick = function() {
                modal.style.display = "none";
            };
        
            // Close modal when user clicks outside of it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            };
        
            // Setup the fetch request options for a POST request
            fetch('https://1tl0n57x-3005.eun1.devtunnels.ms/generate_qr', {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    email: "asdfasd",
                    firstName: userData.firstName, 
                    familyName: userData.familyName,
                    email: userData.email,
                    dateOfBirth: userData.dateOfBirth,
                    company: userData.company,
                    position: userData.position,
                })
            })
            .then(response => response.text()) // Assuming the response is JSON containing base64qr
            .then(data => {
                document.getElementById("qrImage").src = `data:image/png;base64,${data}`;
                modal.style.display = "block";
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        };
    </script>
</body>

</html>